*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #585858;
}


header{
    width: 100%;
    height: auto;
    background-color: #000000;
    padding: 10px;
    letter-spacing: 2px;
    
 
    
}

h1{
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

 a{
        font-size: 25px;
        cursor: pointer;
        margin: 0 25px
    }

.title{
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;

}

.endereco{
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #ff0000;
    margin-top: 8px;
}

.comprado{

    color: #14f500;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 40px;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 por linha */
    gap: 10px;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
}


.card{
    width: 300px;
    height: auto;
    padding: 15px;
    background-color: #000000;
    border-radius: 10px;
    color:#ffffff;
    font-family: 'Arial', sans-serif;

}

img{

    width: 250px;
    height: 240px;

}


input[type="checkbox"] {
    width: 25px;
    height: 25px;
    accent-color: green;
    cursor: pointer;
  



}

@media (max-width: 768px) {
    .container {
        grid-template-columns: (2,1fr); /* 1 por linha em telas menores */
    }

    header { 
            width: 640px;;      
    }

    a{
        font-size: 25px;
        cursor: pointer;
    }

}

